<?xml version="1.0"?>
<config>
    <modules>
        <Codilar_Gopigen>
            <version>0.1.2</version>
        </Codilar_Gopigen>
    </modules>
    <global>
        <models>
            <codilar_gopigen>
                <class>Codilar_Gopigen_Model</class>
                <resourceModel>codilar_gopigen_resource</resourceModel>
            </codilar_gopigen>
            <codilar_gopigen_resource>
                <class>Codilar_Gopigen_Model_Resource</class>
                <entities>
                    <codilar_gopigen>
                        <table>codilar_gopigen</table>
                    </codilar_gopigen>
                </entities>
            </codilar_gopigen_resource>
        </models>
        <blocks>
            <codilar_gopigen>
                <class>Codilar_Gopigen_Block</class>
            </codilar_gopigen>
            <adminhtml>
                <rewrite>
                    <sales_order_invoice_create_tracking>
                        Codilar_Gopigen_Block_Adminhtml_Sales_Order_Invoice_Create_Tracking
                    </sales_order_invoice_create_tracking>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <codilar_gopigen>
                <class>Codilar_Gopigen_Helper</class>
            </codilar_gopigen>
        </helpers>
        <resources>
            <codilar_gopigen_setup>
                <setup>
                    <module>Codilar_Gopigen</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codilar_gopigen_setup>
            <codilar_gopigen_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codilar_gopigen_write>
            <codilar_gopigen_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codilar_gopigen_read>
        </resources>
    </global>
    <default>
        <carriers>
            <codilar_gopigen>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>codilar_gopigen/carrier</model>
                <title>Gopigen</title>
                <sallowspecific>1</sallowspecific>
                <test>1</test>
            </codilar_gopigen>
        </carriers>
    </default>
    <admin>
        <routers>
            <gopigen>
                <use>admin</use>
                <args>
                    <module>Codilar_Gopigen_Adminhtml</module>
                    <frontName>gopigen</frontName>
                </args>
            </gopigen>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <codilar_gopigen module="codilar_gopigen">
                <title>GoPigen</title>
                <sort_order>75</sort_order>
                <children>
                    <track module="codilar_gopigen">
                        <title>Manage Shipping</title>
                        <sort_order>0</sort_order>
                        <action>gopigen/track</action>
                    </track>
                </children>
            </codilar_gopigen>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <codilar_gopigen>
                            <title>GoPigen</title>
                            <sort_order>75</sort_order>
                            <children>
                                <track>
                                    <title>Manage Shipping</title>
                                </track>
                            </children>
                        </codilar_gopigen>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <codilar_gopigen>
                    <file>codilar_gopigen.xml</file>
                </codilar_gopigen>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <codilar_gopigen>
                        <class>codilar_gopigen/observer</class>
                        <method>addMassAction</method>
                    </codilar_gopigen>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <codilar_gopigen>
                    <file>codilar_gopigen.xml</file>
                </codilar_gopigen>
            </updates>
        </layout>
        <routers>
            <gopigen>
                <use>standard</use>
                <args>
                    <frontName>gopigen</frontName>
                    <module>Codilar_Gopigen</module>
                </args>
            </gopigen>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <gopigen_cron>
                <schedule>
                    <cron_expr>0 */2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>Codilar_Gopigen_Model_Cron::refresh</model>
                </run>
            </gopigen_cron>
        </jobs>
    </crontab>
</config>